/* Nav bar code */

body {
	margin: 42px 42px 0 42px;
}

h1 {
	/*font-size: 72px;*/
	font-size: 2em;
}

.bigger {
	font-size: 2em;
}

section {
	height: 600px;
	/* height: 100vh; */
	/*border: 1px solid black;*/
	padding-top: 42px;
}

nav {
	background: pink;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline-block;
	/*border: 1px solid black;*/
	padding: 3px;
	margin: 10px;
}

nav li a {
	text-decoration: none;
}

#about .row div {
	border: 1px solid black;
	height: 200px;
}

#resume .row div {
	margin-bottom: 30px;
}

.img-responsive {
	width: 100%;
}

/* Mobile-only styles here */
@media (max-width: 768px) {
	#menu-button {
		display: block;
	}
}




